@media screen and (max-width: 576px) {
/* ==== All Shared Style ==== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 .container{
  max-width: 90%;
  margin: 3rem auto;
}


  /* ==== Nav Container Style Start ====  */
  .nav-info{
    display: none;
  }
  .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
  }

  #hamburger-menu{
    display: block;
    color: white;
  }
  /* ==== Nav Container Style End ====  */

  /* ==== Banner Text Image Style Start ==== */

  .header-container{
    width: 100%;
    height: 1050px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    background-color: rgba(0, 0, 0, 0.856);
    border: 2px solid;
  }

  .banner-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: flex-start;
    align-items: flex-start;
  }

  .banner-text{
    width: 352px;
  }

  .banner-text h1{
    color: white;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 100%;
  }

  .banner-text h1 .shape{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 4rem;
   }

  .banner-text p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
}

.btn .club{
  display: none;
}
.btn p{
  color: rgb(255, 255, 255);
  width: 14rem;
  height: 3.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img{
  margin-top: 2.8rem;
}

.badge-one{
  position: absolute;
  width: 12rem;
  height: 6rem;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: -20rem;
  margin-left: -1rem;
}

.badge-one .badge-one-icon{
  color: white;
  display: block;
  }

.badge-two{
  position: absolute;
  width: 12rem;
  height: 6rem;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: -32rem;
  margin-left: 12rem;
}
/* ==== Banner Text Image Style End ==== */

/* ==== Change Your Habits Section Style Start ==== */
.change-container{
  width: 318px;
  height: 1150px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.habits-container h2{
  width: 318px;
  height: 38px;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 0.875rem;
}

.habits-container p{
  width: 318px;
  height: 38px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.change-content .change-text{
  margin-top: 0.5rem;
  margin-bottom: 3px;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.change-content p{
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 0 auto;
}
/* ==== Change Your Habits Section Style End ==== */

/* == Run an Extra Mile Easily Section Style Start == */
.run-container{
  width: 100%;
  height: 30rem;
  flex-direction: column;
  display: block;
}

.run-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 40px 16px 40px; 
}

.run-content h2{
  color: white;
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 0.875rem;
}

.run-content p{
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.run-img{
  width: 287px;
  height: 170px;
  border-radius: 18px;
  background: url(../images/run.jpg);
  background-size: cover;
  margin: 0 auto;
}
/* == Run an Extra Mile Easily Section Style End == */

/* ==== Calculator Style Start ==== */
.calculator-content{
  height: 50rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.table-content{
  margin-top: 2rem;
  margin-left: 1.2rem;
}

.table-content h4{
  color: white;
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.calculator-box{
  width: 22.125rem;
  margin-top: 2rem;
  margin-left: 1.2rem;
}

.calculator-box h4{
  color: white;
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 0.875rem;
}

.box-item input{
  width: 11rem;
}

}